.loan-entry {
  display: flex;
  justify-content: space-between;
}

.loan-entry__left {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.loan-entry__right {
  display: flex;
}

.loan-entry__right > div {
  margin-right: 1rem;
}

.loan-entry__entry {
  display: block;
  margin: 4px 0px;
}
