@media screen and (max-width: 375px) {
    .Suggestions {
        display: none;
    }

    .SuggestionsMobile {
        display: block;
    }

    .SuggestionCard {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 375px) {
    .Suggestions {
        display: block;
    }

    .SuggestionsMobile {
        display: none;
    }

    .SuggestionCard {
        margin-bottom: 12px;
    }
}
